*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav{
    background-color: #0082e6;
    height: 80px;
    width: 100%;
    
}
.menu{
    color: white;
    font-size: 30px;
    line-height: 100px;
    padding: 0 100px;
    font-weight: 200;
    margin-right: 30px;

}
nav ul{
    float: right;
    margin-right:30px ;

}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}